/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|    BASE
|=================================================================================
*/
body{
    background-image: url(../img/header-bg.jpg);
    background-position: center top;
    background-repeat: repeat-x;
    background-color: #ebf9fe;
}

#body-internas {
    background-color: #FFF;
    margin-top: 30px;
    background-image: url('../img/internas-bg.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    padding: 30px 16.33333%;
}

#footer {
    background: url(../img/footer-bg.jpg) repeat-x center top;
    min-height: 220px;
    margin-top: 80px;
    text-align: center;
}

h2{
    font-family: "open sans";
    font-size: 16px;
    color: #006376;
    font-style: italic;
    padding-bottom: 30px;
}

p{
    font-family: "open sans";
}

h1{
    font-family: "open sans condensed";
    font-size: 24px;
    color: #006376;
    font-weight: 700;
}
/*
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|=================================================================================
|    LAYOUT
|---------------------------------------------------------------------------------
*/


.container .logo-interno img {
    display: inline-block;
}

.titulo {
    margin-top: 20px;
    display: block;
    text-transform: uppercase;
}


.page-index{
    background-color: #ffffff;
}
.page-index .container .logo {
    margin-top: 150px;
    text-align: center;
}

.container .logo {
    margin-top: 60px;
    text-align: center;
}
.container .logo img{
    display: inline-block;
}

.header-menu {
    text-align: center;
    width: 100%;
    margin: 0;
}
.curriculum{
    background-image:  url(../img/curriculum.jpg);
}
.curriculum p{
    text-align: center;
    padding: 9px;
    color: #000000;
}
.procedimentos{
    background-image:  url(../img/procedimentos-bt.jpg);
    min-height: 45px;
}
.procedimentos p {
    padding-left: 18px;
    padding-top: 10px;
    font-family: "open sans";
    color: #124BC3;
    margin: 0;
}

.btn {
    display: inline;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 0px 10px;
    -webkit-border-radius: 0 0 0px 10px;
    background-color: #00BBE9;
    color: #ffffff;
    /* z-index: 999; */
}

.link{
    display: inline-block;
    padding: 12px;
    font-family: "open sans";
    font-weight: bold;
}

.link > a{
    font-weight: normal;
    display: inline;
}


.responsive_menu{
    text-align: center;
    background: #00bcea;
}

.responsive_menu > label {
    background: #00bcea;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.responsive_menu > select {
    width: 100%;
    border-color:#00bcea;
    text-align: center;
}

.header-menu > li {
    display: inline-block;
    margin-left: -.3em;
    color: #81CBD9;
}

#header .color-bar {
    background-color: #ffffff;
    margin-top: 40px;
}

.container .logo-interno {
    margin-left: 230px;
    margin-top: 60px;
}

.header-menu a:link,
.header-menu a:visited{
    color: #81CBD9;
    display: block;
    padding: 22px 9px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 1.1em;
}

.header-menu a:hover{
    background-color: #81CBD9;
    color: #ffffff;
}

.header-menu .active > a {
    background-color: #ffffff;
    color: #000000;
}

#footer > .container {
    padding-top: 30px;
}

#footer .color-bar {
    background-color: #E8F5F8;
    margin-top: 40px;
}


#footer .share-lnk {
    color: #fff;
    font-weight: 700;
}


#footer address {
    color: #fff;
}


#footer small {
    display: block;
    padding: 10px 5px;
    color: #ABABAB;
    font-size: 11px;
}

.bio-columns{
    margin-top: 50px;
    text-align: center;
}

.bio-description{
    margin-top: 40px;
}

.arrow {
    margin: 100px auto;
    text-align: center;
    display: block;
}
.arrow > img{
    display: inline-block;
    cursor: pointer;
}

#footer address{
    color: #000000;
    font-family: "open sans";
}

.bio-columns h2{
    color: #646464;
    font-weight: 300;
    font-size: 21px;
    font-style: normal;
}

.bio-description p {
    color: #646464;
    font-weight: 300;
    font-size: 16px;
}

.bio-description a{
    color: #438BCB;
    font-weight: 300;
    font-size: 13px;
}

.txt-profile{
    line-height: 30px;
    color: #858484;
    font-size: 14px;
    font-weight: 400;
}

#mensagem_field{
    resize: vertical;
    max-height: 70px;
    min-height: 70px;
}

.label{
    font-family: "open sans";
    font-weight: 400;
    font-size: 14px;
    color: #858484;
    font-weight: normal;
}
.mensagem{
    z-index : -1;
}
.square-down{
    position: static;
    margin-top: -59px;
    margin-left: 100px;
    border-width: 30px;
    border-style: solid;
    border-color: transparent #51D1F1 #51D1F1 transparent;
    height: 1px;
    width: 1px;
}

.address{
    color: #858484;
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
}
/* ==========================================================================
   *
   * mNNNNNNNNm     
   * y````````y   
   * y        s  
   * y        s  
   * y        s  
   * y        s  
   * d+++--+++d 
   * NMMN//MMMN  
   *
   *
   * PHONE ONLY !!!
   ========================================================================== */

@media all and (max-width: 768px) {
    .arrow {
        margin: 125px auto;
    }
}/*/mediaquery*/

/* ==========================================================================
   *
   * 
   * +yyyyhhhhdddddddddms
   * sh-..............-Nd      mmddddddddddddddddddddddddddmm
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * sd`              .Md      M+                          /M
   * yd`              .Md      M+                          /M
   * yd`              .Md   +  M+                          /M
   * yd`              .Md      MmddddddddddddddddddddddddddmM
   * yd.              .Md      mNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * yd.              .Md      ```````````:dddddd/```````````
   * sdhdddddddmmmmmmmmNy                /dMMMMMMm+          
   *-------------------------------------------------------------------------
   * TABLET and  UP
   ========================================================================== */

@media all and (min-width: 768px) {
    .arrow {
        margin: 125px auto;
    }

#footer {
    text-align: left;
}


#footer .maps{
    /* margin-top: -110px; */
    text-align: right;
}


}/*/mediaquery*/

/* ==========================================================================
   *
   *
   * mmddddddddddddddddddddddddddmm
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * M+                          /M
   * MmddddddddddddddddddddddddddmM
   * mNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * ```````````:dddddd/```````````
   *           /dMMMMMMm+          
   *-------------------------------------------------------------------------
   * DESKTOP
   ========================================================================== */

@media all and (min-width: 980px) {

#body-internas {
    background-size: 100%;
    overflow: auto;
}
.procedimentos{
    min-width: 639px;
}
.curriculum{
    min-height: 77px;
}

}/*/mediaquery*/

/* ==========================================================================
   *
   *
   * mmddddddddddddddddddddddddddddddddddddmm
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * M+                                    /M
   * MmddddddddddddddddddddddddddddddddddddmM
   * mNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNm
   * ````````````````:dddddd/````````````````
   *             /dMMMMMMMMMMm+          
   *-------------------------------------------------------------------------
   * RUGE DESKTOP
   ========================================================================== */

@media all and (min-width: 1281px) {

}/*/mediaquery*/

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}